/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.row {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.btn {
  border: 2px solid silver;
  width: 50%;
  padding: 0.8rem 1rem;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0.7em;
}

.btn a {
  text-decoration: none;
  color: #000;
}
/* section {
  padding: 5rem 0;
} */

body {
  line-height: 1.5;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Navigation */
header {
  background: #637a89;
  padding: 1rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
  position: relative;
}

.logo {
  font-size: 1.5rem;
}

.toggle-btn {
  font-size: 1.5rem;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
}

.nav-links li {
  border-bottom: 1px solid gray;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
}

.nav-links.active {
  display: flex;
}
.nav__logo img {
  height: 35px;
  display: block;
  margin: 0 auto;
}

/* Hero section */

.hero {
  background: #637a89;
  padding: 12.5rem 0;
}

.hero__text h1 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.hero__text p {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.hero__text span {
  width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

.hero__text span a {
  text-decoration: none;
  color: #fff;
}

.hero__text span a i {
  border: 2px solid #fff;
  margin-right: 1rem;
  border-radius: 50%;
  padding: 0.6rem;
}
.hero__text img {
  display: block;
  margin: 0 auto;
}

/* Why  section */

.why__section {
  padding: 4rem 0;
}

.why__section p {
  text-align: center;
}

.why__section h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

/* learn more  section */

.learn__more {
  background: #dbdfe2;
  padding: 11rem 0;
}

.learn__more h2 {
  text-align: center;
}

.learn__more img {
  display: block;
  margin: 0 auto;
}

.volunteer,
.footer {
  padding: 7rem 0;
}

.volunteer h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

/*footer*/

.footer {
  background: #161f2a;
  color: #fff;
  text-align: center;
}

span i {
  margin: 1em;
  cursor: pointer;
}

.sitemap,
.contribute {
  text-transform: uppercase;
  color: #636465;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 800px) {
  .learn__more .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  .col {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  img {
    height: 250px;
  }

  .volunteer .container,
  .why__section .container {
    max-width: 600px;
  }
  .hero__text img {
    width: 700px;
    height: 350px;
  }
}
